:root {
  /* ## Colors */
  --neutral-900: #03012d;
  --neutral-800: #272541;
  --neutral-700: #312f4b;
  --neutral-600: #3d3b5e;
  --neutral-300: #aeaeb7;
  --neutral-300-transp: rgba(117, 117, 144, 0.184);
  --neutral-200: #d5d4d9;
  --neutral-0: #ffffff;

  /* ### Custom-colors */

  --orange: #ff7c0a;
  --blue-500: #4455da;
  --blue-700: #2d1c9c;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 18px 12px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body {
  background-color: var(--neutral-900);
  color: #fff;
  min-height: 100vh;
  scroll-behavior: smooth;
}
