.dropdown__group {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.dropdown__group__title {
  color: var(--neutral-300);
  font-size: 14px;
  text-align: center;
  margin: 16px 0 12px;
  font-weight: 500;
}

.dropdown__group-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}
