.dailyForecast {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: start;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 24px;
}

.body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 14px;
}
