.search-city__wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  border-radius: 10px;
  border: 1px solid var(--neutral-600);
  padding: 0 16px;
}

.search-city__input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 32px;
}

.search-city__input-container {
  position: relative;
  width: 100%;
  max-width: 520px;
}

.search-city__results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--neutral-800);
  border-radius: 8px;
  border: 1px solid var(--neutral-600);
  z-index: 999;
  margin-top: 12px;
  padding: 12px 20px;
}

.search-city__results-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.search-city__results-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding: 12px 0;
  cursor: pointer;
  transition: background 0.2s;
  text-align: left;
  padding: 6px 12px;
  border-radius: 8px;

  &:hover {
    background-color: var(--neutral-700);
  }
}

.search-city__input {
  padding: 14px;
  width: 100%;
  background: transparent;
  border: none;
  color: var(--neutral-0);
  font-size: 16px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--neutral-300);
    font-weight: 600;
    font-size: 16px;
  }
}

.search-city__button {
  padding: 14px 22px;
  color: var(--neutral-0);
  background: var(--blue-500);
  border: 1px solid var(--blue-500);
  border-radius: 6px;
  font-size: 16px;
}

.search-city__current-city {
  padding: 12px 0 22px;
  text-align: start;
  color: var(--neutral-300);
  font-weight: 600;
}

.search-city__results-city {
  font-weight: 500;
}

.search-city__results-region {
  font-size: 14px;
  color: var(--neutral-300);
}

.search-city__search-progress {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding: 12px 0;
  font-weight: '500';
}

.search-city__searched-cities-list {
  display: flex;
  align-self: start;
  gap: 14px 7px;
  flex-wrap: wrap;
}

.search-city__searched-cities-item {
  padding: 6px 12px;
  background-color: var(--neutral-700);
  border-radius: 50px;
  cursor: pointer;
}

.search-city__searched-cities-item:hover {
  background-color: var(--neutral-300-transp);
}
