.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 32px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 520px;
}

.results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--neutral-800);
  border-radius: 8px;
  border: 1px solid var(--neutral-600);
  z-index: 999;
  margin-top: 12px;
  padding: 12px 20px;
}

.resultsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.resultsItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  padding: 6px 12px;
  cursor: pointer;
  transition: background 0.2s;
  text-align: left;
  border-radius: 8px;

  &:hover {
    background-color: var(--neutral-700);
  }
}

.button {
  padding: 14px 22px;
  color: var(--neutral-0);
  background: var(--blue-500);
  border: 1px solid var(--blue-500);
  border-radius: 6px;
  font-size: 16px;
}

.currentCity {
  padding: 12px 0 22px;
  text-align: start;
  color: var(--neutral-300);
  font-weight: 600;
}

.resultsCity {
  font-weight: 500;
}

.resultsRegion {
  font-size: 14px;
  color: var(--neutral-300);
}

.searchProgress {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding: 12px 0;
  font-weight: 500;
}

.searchedCitiesList {
  display: flex;
  align-self: start;
  gap: 14px 7px;
  flex-wrap: wrap;
}

.searchedCitiesItem {
  padding: 6px 12px;
  background-color: var(--neutral-700);
  border-radius: 50px;
  cursor: pointer;
}

.searchedCitiesItem:hover {
  background-color: var(--neutral-300-transp);
}
