.dropdown-item {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 10px 8px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 8px;
}

.dropdown-item:hover {
  background-color: var(--neutral-700);
}

.dropdown-item--selected {
  background-color: var(--neutral-700);
}
