.daily-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 22px 8px;
  background-color: var(--neutral-800);
  border-radius: 14px;
}

.daily-card__title {
  font-weight: 600;
}

.daily-card__temps {
  display: flex;
  width: 100%;
  gap: 12px;
  justify-content: space-between;
  color: var(--neutral-300);
  font-weight: 600;
}

.daily-card__icon {
  width: 72px;
  height: 66px;
}
